<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.tenfold.app"
    android:versionCode="1" android:versionName="0.1.0-p0">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    <application android:theme="@style/AppTheme" android:label="TENFOLD" android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
